* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para o cabeçalho */
header {
    background-color:#333;
    color: white;
    padding: 10px 0;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
    margin: 0;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffcc00;
}

/* Estilo para o conteúdo principal */
main {
    padding: 10px 0;
}

/* Estilo para cada seção */
.section {
    padding: 10px 0;
}

/* Estilo para cada meme */
.meme {
    background-color: white;
    border: 3px solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    margin-bottom: 10px; /* Adiciona margem entre os memes */
}

/* Estilo para as imagens dos memes */
.meme img {
    max-width: 100%;
    height: auto;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilo para os parágrafos */
.meme p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Media queries para tornar o site responsivo */
@media screen and (max-width: 768px) {
    .meme {
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    .meme {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .meme {
        width: 100%;
    }
}
